<h1>Appointment Notes</h1>

<app-visit-search></app-visit-search>

<br>

<app-select-patient></app-select-patient>


  <br>
  <!-- <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input [(ngModel)]="visit.weight" type="text" class="form-control" id="Input1" placeholder="Bob Boberson">
  </div> -->
  <div class="form-group">
    <label for="Input2">Date</label>
    <input [(ngModel)]="date" type="text" class="form-control" id="Input2" placeholder="yyyy-mm-dd">
  </div>
  <div class="form-group">
    <label for="Input2">DoctorId</label>
    <input [(ngModel)]="doctorId" type="text" class="form-control" id="Input4" placeholder="1">
  </div>
  <div class="form-group">
      <label for="Input4">Bloodpressure</label>
      <input [(ngModel)]="bloodpressure" type="text" class="form-control" id="Input4" placeholder="80/100">
    </div>
  <div class="form-group">
    <label for="Input3">Weight</label>
    <input [(ngModel)]="weight" type="text" class="form-control" id="Input3" placeholder="200">
  </div>
  <div class="form-group">
    <label for="doctorNotes">Notes</label>
    <textarea [(ngModel)]="doctorDescription" class="form-control" id="doctorNotes" rows="3" placeholder="Enter notes here"></textarea>
  </div>
  <button class="btn btn-primary" (click)="submitVisit()">Submit Form</button>



<!-- "visitId": "2",
	"date": "1990-01-01",
	"weight": "200",
	"doctorDescription": "He is a fat boy.",
	"patientNote": "I am a fat boy." -->