<center>
<h1>Welcome to Your PC Doctor Dashboard!</h1>
<app-loading *ngIf="loading" text-align="center"></app-loading>
<mat-card *ngIf="!loading" >
    <div text-align="center">
    
    <h3> Login </h3>
    <form class="login-input">
      <mat-form-field class="login-input">
        <input matInput 
        [(ngModel)]="inputUsername" 
        placeholder="Username" name="username" 
      (keydown.enter)="login()" 
      required>
    </mat-form-field> 
    <br>
    <mat-form-field class="login-input">
      <input matInput [(ngModel)]="inputPassword" 
      type="password" placeholder="Password" name="password"
      (keydown.enter)="login()"
      required>
    </mat-form-field>
  </form>
  <div *ngIf="missingField" class="error">
    Please enter all required input
  </div>
  <div *ngIf="loginFailed" class="error">
    The username and password <br> 
    combination was not found!
  </div>
  <button (click)="login()" mat-raised-button color="primary">
    Login!
  </button>
</div>
</mat-card>
</center>
