<div *ngIf="!patient || !patient.id">
  If you would like prescribe this prescription, please select a patient first.
</div>

<div *ngIf="rx && rx.name && patient && patient.id">

  <h3>Add Prescription</h3>
  <form (ngSubmit)="onSubmit()" #rxForm="ngForm">
    <div class="form-group">

        <div class="form-group">
            <label for="patient">Patient Name : </label>
            <input type="text" class="form-control" id="patient"
                    placeholder="{{patient.getFullName()}}" disabled>
        </div>

      <label for="name">Prescription Name : </label>
      <input type="text" class="form-control" id="name"
              required
              [(ngModel)]="rx.name" name="name"
              #name="ngModel" disabled>
    </div>

    <div class="form-group">
      <label for="dose">Dose  :</label>
      <input type="text" class="form-control" id="dose"
              [(ngModel)]="rx.dose" name="dose">
    </div>
    <div [hidden]="!checked || dose" class="alert alert-danger">
        Dosage information is required
      </div>

    <div class="form-group">
      <label for="frequency">Instructions/Frequency : </label>
      
      <div [hidden]="!checked || dose" class="alert alert-danger">
        Instructions / Frequency Requeired
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!rxForm.form.valid">Submit</button>
  </form>



</div>