<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h6>
    Welcome to {{ title }}!

    TODO: <br>
    If bootstrap isn't working, run this in your console: <br>
    npm install --save @ng-bootstrap/ng-bootstrap <br>
    See: <br>
    https://ng-bootstrap.github.io/#/components/accordion/examples
    <p></p>

    FOR RouteGuard, see: <br>
    https://alligator.io/angular/route-guards/
  </h6>
<br> <br> <br> <br> 

-->

<div id="container">
  <app-nav></app-nav>
  
  <div id="content">
    <mat-card>
    <router-outlet></router-outlet>

    <button (click)="clicked = !clicked">Click here to see it</button>
    <div *ngIf="clicked" style="background: rgba(231, 246, 255, 0.219)" >
      
      <br>
      It's almost exactly what we'd drawn out.<br>
      I generated the component in the command line: <br>
      "ng g @angular/material:dashboard components/dashboard" <br>
      Material Design (and probably bootstrap, too) have a couple modules that you can get pre-built this way. <br>
      This took me literally no time to figure out, just wanted to run it by ya.
      <app-dashboard></app-dashboard>
    </div>


    </mat-card>
  </div>
</div>
