<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h6>
    Welcome to {{ title }}!

    TODO: <br>
    If bootstrap isn't working, run this in your console: <br>
    npm install --save @ng-bootstrap/ng-bootstrap <br>
    See: <br>
    https://ng-bootstrap.github.io/#/components/accordion/examples
    <p></p>

    FOR RouteGuard, see: <br>
    https://alligator.io/angular/route-guards/
  </h6>
<br> <br> <br> <br> 

-->

<div id="container">
  <app-nav></app-nav>
  
  <div id="content">
    <app-loading *ngIf="loading"></app-loading>

    <ng-container *ngIf="!loading">
      <ng-container *ngIf="!(currentUser?.id)">
        <app-login></app-login>
      </ng-container>

      <ng-container *ngIf="currentUser?.id">
        <router-outlet></router-outlet>
      </ng-container>
 </ng-container>

  </div>


</div>


