.drug-spelling{
    width:20em;
}

ul, li {
    list-style-type: none;
}
.results-title{
    color: rgb(104, 104, 146);
    font-weight: 600;
    font-size: 1.5em;
}
.interacting-ingredient{
    font-weight:500;
}
.result-box  {
    padding:0.8em;
    width:100%;
    height:100%;
    overflow-y: scroll;
}

.drug-concept {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0px;
}
.drug-concept-property {
    text-align: center;
    flex: 1 1;
}
.drug-concept-title {
    color: rgb(104, 104, 146);
    font-weight: 500;
    padding-left:2em;
}