<h4> Prescriptions </h4> 

<h6>Search for Prescription information</h6>
<center>
  <div class="search-bar-box">
    <input type="text" id="rx-search" placeholder="Input Drug Name" 
    [(ngModel)]="input" (keydown.enter)="getRxByName(input)" />
    <br> 
    <div class="search-button-holder">
      <button mat-raised-button (click)="getRxByName(input)" >Search Prescriptions</button>
    </div>
  </div>
</center>

<ng-container *ngIf="spellingSuggestions">
<div id="spelling-suggestions-message"></div>
  <div class="suggestion-list">
    <button
     *ngFor="let drug of suggestions"
      mat-stroked-button 
      class="suggestion" 
      (click)="getRxBySuggestion(drug)"> 
      {{drug}} 
    </button>
  </div>  
</ng-container>

<div *ngIf="loading">
    <app-loading></app-loading>
  </div> 

<div id="search-results" *ngIf="interactions">
  <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <div class="result-box" *ngIf="success">
      <div class="results-title">Results for {{searchTerm}}</div>
      <ng-container *ngFor="let concept of drugProperties">
        <mat-card class="concept-card" *ngIf="concept.conceptProperties">
          <div class="drug-concept">
            <div class="drug-concept-title">
              {{concept.tty | rxConcept}}:
            </div>
            <div class="drug-concept-spacer"></div>
            <div class="drug-concept-property">
              {{concept.conceptProperties[0].name}} 
            </div>
          </div>
          </mat-card>
        </ng-container>
    </div>
  </mat-grid-tile>
  <!-- Show interactions by ingredient (drugs may have more than one)-->
  <mat-grid-tile>
    <div class="result-box" *ngIf="interactions && interactions !== null">
      <div class="results-title">Interaction Results</div>
      <mat-accordion>

        <ng-container *ngIf="interactions.interactionTypeGroup">
          <mat-expansion-panel *ngFor="let type of interactions.interactionTypeGroup[0].interactionType">
            <mat-expansion-panel-header>
              <mat-panel-title>
              {{type.interactionPair[0].interactionConcept[0].minConceptItem.name}}
            </mat-panel-title>
            <mat-panel-description>
              Interacting Ingredient
            </mat-panel-description>
          </mat-expansion-panel-header>
          
          <div *ngFor="let item of type.interactionPair" class="interaction-items">
              <a href="{{item.interactionConcept[1].sourceConceptItem.url}}" target="_blank">
                {{ item.interactionConcept[1].minConceptItem.name }}
              </a>
          </div>
        </mat-expansion-panel>
      </ng-container>
      <ng-container *ngIf="!interactions.interactionTypeGroup">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>No Results found!</mat-panel-title>
            </mat-expansion-panel-header>
            No interaction results found!
        </mat-expansion-panel>
      </ng-container>
      
    </mat-accordion>
    </div>
    
  </mat-grid-tile>
</mat-grid-list>

