<div class="patient-searchbar">

  <h5>Select a visit : </h5>
  <input type="text" [(ngModel)]="id" placeholder="2" />
  <!-- <input type="string" [(ngModel)]="this.birthday" placeholder="Birthday yyyy-mm-dd" (keydown.enter)="searchPatient()" />
 OR
  <input type="number" [(ngModel)]="this.id" placeholder="Patient ID" (keydown.enter)="searchPatient(0)" />
  <br>
  -->

  <button mat-raised-button (click)="searchVisit()">Select Visit Id</button> 
  
  <div>
         {{ visit?.date }} 
    
         {{ visit?.patientId }}
         {{ visit?.weight }} 
         
         {{ visit?.bloodpressure }}

         {{ visit?.doctor_description }} 
         
         {{ visit?.patientNote }}
  </div>

</div>