Doctor-view-rx WIP
To do:
- 1. Search for the patient first, handle errors from there.
  - patient search by ID & firstname/birthday (show list if more than one)
  -- PATIENT SEARCH should be its own component; one is created in components/shared.
<br> <br> <br> <br> < br>


<h3>Patient Prescriptions</h3>
<p>
  To view prescriptions, please input the patient ID number below.
</p>

<!-- Make this the patient-search component -->
  <input type="number" [(ngModel)]="this.patientId" (keydown.enter)="searchRx()" />
  <button mat-raised-button color="primary" (click)="searchRx()">Search</button>

<!-- patient search above... Or just add that search thing into patient Service -->

<div *ngIf="loading">
  <app-loading></app-loading>
</div>

<app-rx-table *ngIf="!loading && success"></app-rx-table>
<div id="error-message"></div>

<app-archive-table *ngIf="!loading && success"></app-archive-table>
