Doctor-view-rx WIP

<h3>Patient Prescriptions</h3>

<!-- Make this the patient-search component -->

<app-select-patient></app-select-patient>

<!-- patient search above... Or just add that search thing into patient Service -->

<div *ngIf="loading">
  <app-loading></app-loading>
</div>

<app-rx-table *ngIf="!loading && success"></app-rx-table>
<div id="error-message"></div>

<div *ngIf="!loading && success">
  <span class="clickable-text" (click)="showArchive()"> Show Patient's Prescription Archive </span>
  
  <app-loading *ngIf="loadingArchive"></app-loading>
  <app-archive-table *ngIf="!loadingArchive && showArchive"></app-archive-table>
  <div id="error-archive-message"></div>
</div>
