.select-patient-button {
 min-width : 30em;
}

input {
    margin:5px;
}

.search-button-holder {
    display:flex;
    flex-direction: row;
}

.show-current-patient{
    flex: 1 1;
    text-align: center;
    font-weight: 500;
}