<h5>Select a patient : </h5>
<input type="text" [(ngModel)]="this.lastName" placeholder="Patient Last Name" (keydown.enter)="searchPatient()" />
<input type="string" [(ngModel)]="this.birthday" placeholder="Birthday yyy-mm-dd" (keydown.enter)="searchPatient()" />

OR 

<input type="number" [(ngModel)]="this.id" placeholder="Patient ID" (keydown.enter)="searchPatient()" />
<br>
<button (click)="searchPatient()">Select Patient</button>

<div id="patient-error-message"></div>

<div *ngIf="multipleResults">
    More than one patient matched your request. Please select one: <br>
    <div *ngFor="let patient of pList; let i = index">
       <button mat-raised-button (click)="searchPatient(i)" > 
           {{ patient.firstName }}
       </button>
    </div>

  <!-- TODO -->

</div>